//- base.pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    title Home
    |
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1', crossorigin='anonymous')
    block style      
  body
    nav#navbar
      ul
        #logo
          img(src='../static/img/icon.jpg')
          | SDA 
          |             
          li
            a(href='/') Home
          |             
          li
            a(href='/about') About
          |             
          li
            a(href='/') Services
          |             
          li
            a(href='/') Class info
          |             
          li
            a(href='/contact') Contact us
    |       
    block content
    footer#footer
      #logo
          img(src='../static/img/icon.jpg')
      div Copyright &copy; 2020 CyclopediaAcademy.com
      |         
      p All Rights Reserved
    block scripts
              