extends base.pug

block style
    style
      include ../static/style.css
      include ../static/stylecontact.css

block content
    div.container 
        h1 Employee
        form(action="/employee", method="POST",class="myform" autocomplete="off")
            input(id="name" type="text",class="myinput", name="name",placeholder="Enter Your UserName" )
            input(id="phone" type="text",class="myinput", name="phone",placeholder="Enter Your phone" )
            input(id="email" type="text",class="myinput", name="email",placeholder="Enter Your email" )
            input(type="text",class="myinput", name="address",placeholder="Enter Your address" )
            input(type="text",class="myinput", name="desc",placeholder="Enter Your concern")
            button(class="btn") 
                | Submit
block scripts
    script(src='/static/indexcontact.js')
    



        